/* Button styles */
.stButton>button,
.stDownloadButton>button {
  width: 100%;
}

[data-testid="stSidebar"][aria-expanded="true"] {
  min-width: 300px;
  max-width: 300px;
}

[data-testid="stChatMessage"] {
  background-color: rgba(240, 242, 246, 0.5);
}

.main>[data-testid="element-container"] {
  padding: 0 20px 0 0;
}

[data-testid="stSidebar"]>[data-testid="stAlert"] {
  padding: 0 0 0 0;
}

[data-testid="stJson"] {
  padding: 0 20px 0 0;
}

[data-testid="stMarkdownContainer"] {
  padding: 0 20px 0 0;
}
